@page
@attribute [AllowAnonymous]
@model iBlog.Pages.Account.LoginModel
@{
    ViewData["Title"] = "Login";
}
<main style="display:grid; margin: auto; max-width:700px" class="mt-4">
    <div class="mt-4">
        <h2>Login</h2>
        <div asp-validation-summary="All" class="text-danger"></div>
        <form method="post" class="mt-4">
            <div class="mb-3">
                <label asp-for="@Model.LoginData.Email" class="form-label">Email</label>
                <input asp-for="@Model.LoginData.Email" class="form-control" />
                <span asp-validation-for="@Model.LoginData.Email" class="text-danger"></span>

            </div>
            <div class="mb-4">
                <label asp-for="@Model.LoginData.Password" class="form-label">Password</label>
                <input asp-for="@Model.LoginData.Password" class="form-control" />
                <span asp-validation-for="@Model.LoginData.Password" class="text-danger"></span>
            </div>
            <button type="submit" class="header-btn btn btn-outline-dark rounded-0">Sign in</button>
        </form>
    </div>

</main>